[data-theme="default"] {
  --background: oklch(1 0 0);
  --foreground: oklch(0.148 0.004 228.8);
  --card: oklch(0.995 0.002 228.8);
  --card-foreground: oklch(0.148 0.004 228.8);
  --popover: oklch(0.995 0.002 228.8);
  --popover-foreground: oklch(0.148 0.004 228.8);
  --primary: oklch(0.514 0.222 16.935);
  --primary-foreground: oklch(0.969 0.015 12.422);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.963 0.002 197.1);
  --muted-foreground: oklch(0.56 0.021 213.5);
  --accent: oklch(0.963 0.002 197.1);
  --accent-foreground: oklch(0.218 0.008 223.9);
  --border: oklch(0.925 0.005 214.3);
  --input: oklch(0.925 0.005 214.3);
  --ring: oklch(0.723 0.014 214.4);
  --sidebar: oklch(0.987 0.002 197.1);
  --sidebar-foreground: oklch(0.148 0.004 228.8);
  --sidebar-primary: oklch(0.586 0.253 17.585);
  --sidebar-primary-foreground: oklch(0.969 0.015 12.422);
  --sidebar-accent: oklch(0.963 0.002 197.1);
  --sidebar-accent-foreground: oklch(0.218 0.008 223.9);
  --sidebar-border: oklch(0.925 0.005 214.3);
  --sidebar-ring: oklch(0.723 0.014 214.4);
  --info: oklch(0.94 0.04 250.5);
  --info-foreground: oklch(0.3 0.11 250.5);
  --warning: oklch(0.94 0.055 82.5);
  --warning-foreground: oklch(0.3 0.11 72.5);
  --success: oklch(0.94 0.04 156.2);
  --success-foreground: oklch(0.3 0.11 156.2);
  --chart-1: oklch(0.845 0.16 165);
  --chart-2: oklch(0.696 0.185 164);
  --chart-3: oklch(0.596 0.165 164);
  --chart-4: oklch(0.508 0.135 164);
  --chart-5: oklch(0.432 0.11 164);
}

.dark[data-theme="default"] {
  --background: oklch(0.148 0.004 228.8);
  --foreground: oklch(0.987 0.002 197.1);
  --card: oklch(0.218 0.008 223.9);
  --card-foreground: oklch(0.987 0.002 197.1);
  --popover: oklch(0.218 0.008 223.9);
  --popover-foreground: oklch(0.987 0.002 197.1);
  --primary: oklch(0.455 0.188 13.697);
  --primary-foreground: oklch(0.969 0.015 12.422);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.275 0.011 216.9);
  --muted-foreground: oklch(0.723 0.014 214.4);
  --accent: oklch(0.275 0.011 216.9);
  --accent-foreground: oklch(0.987 0.002 197.1);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.56 0.021 213.5);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.987 0.002 197.1);
  --sidebar-primary: oklch(0.645 0.246 16.439);
  --sidebar-primary-foreground: oklch(0.969 0.015 12.422);
  --sidebar-accent: oklch(0.275 0.011 216.9);
  --sidebar-accent-foreground: oklch(0.987 0.002 197.1);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.56 0.021 213.5);
  --info: #0ea5e9;
  --info-foreground: oklch(0.985 0.002 197.1);
  --warning: #f59e0b;
  --warning-foreground: oklch(0.985 0.002 197.1);
  --success: #0eb580;
  --success-foreground: oklch(0.985 0.002 197.1);
  --chart-1: oklch(0.845 0.16 165);
  --chart-2: oklch(0.696 0.185 164);
  --chart-3: oklch(0.596 0.165 164);
  --chart-4: oklch(0.508 0.135 164);
  --chart-5: oklch(0.432 0.11 164);
}
